@model TipoCuenta


@{
    ViewData["Title"] = "Crear Tipo de Cuenta";
}


<h1>Crear Tipo Cuenta</h1>
<h5>El tipo de cuenta se refiere a como podemos agrupar nuestras cuentas, ejemplo:Prestamos,Tarjetas de crredito,etc.</h5>


<form asp-controller="TiposCuentas" asp-action="Crear">
    <div class="mb-3">
        <label asp-for="Nombre" class="form-label"></label>
        <input type="text" asp-for="Nombre" class="form-control"/>
        <div asp-validation-summary="All" class="text-bg-danger"></div>
    </div>

    <button type="submit" class="btn btn-primary">Crear</button>
</form>
